name: test
on:
  workflow_call:

env:
  GO_VERSION: '1.21.1'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run tests
        run: go test ./... -v -timeout 5m -race

